{{- $ctx := .ctx -}}
{{- $menuName := .menuName -}}
{{- $menuItems := .menuItems | default (slice) -}}

{{- if gt (len $menuItems) 0 -}}
  {{- range $menuItems -}}
    {{- $itemURL := .URL | relLangURL -}}
    {{- $isActive := and .Page (eq $ctx.RelPermalink .Page.RelPermalink) -}}
    <li><a class="{{ if $isActive }}active{{ end }} list-link" href="{{ $itemURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
  {{- end -}}
{{- else if eq $menuName "posts" -}}
  {{- with site.GetPage "section" "posts" -}}
    {{- $posts := where .RegularPagesRecursive "Params.hidden" "!=" true -}}
    {{- range $posts.ByDate.Reverse -}}
      {{- $isActive := eq $ctx.RelPermalink .RelPermalink -}}
      {{- $shortTitle := .Params.sidebarTitle | default (truncate 38 .Title) -}}
      <li><a class="{{ if $isActive }}active{{ end }} list-link" href="{{ .RelPermalink | relLangURL }}" title="{{ .Title }}">{{ $shortTitle }}</a></li>
    {{- end -}}
  {{- end -}}
{{- end -}}
